.streamly.integration__video-container--open{
    overflow: hidden;
}
.streamly.integration__video-container {
    position: fixed;
    padding-bottom: 480px;
    top: 55px;
    left: calc(50vw - 360px);
    width: 720px;
    height: 0;
    overflow: hidden;
    border: 1px solid #dbdbdb;
}
.streamly.integration__video-container.display-msgs{
    padding-bottom: 100px;
    top: calc(50vh - 50px);
}
.streamly.integration__video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.streamly.integration__overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}
.streamly.hidden{
    display: none;
}
