<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Client Screen</title>
  </head>
  <body>
    <button class="streamlyBtn" data-store-name="Streamly provider" data-listing-name="Test Listing" data-peer-id="Qmdi2eVodWwXLCFqtmDjVdn4YJgZeoMnAMXuM3hj4ZDp9n">Contact store</button>
    <script>
        // Load Streamly Widget
        (function() {
            var tag = document.createElement('script');
            tag.src = "http://localhost:8080/streamly/api/clientScreen.js";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        })();
    </script>
  </body>
</html>
