<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/clientScreen.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/clientScreen.js"></script>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  	<button class="integration__button vertical-right integration__button--vertical" >Contact store</button>
<div class="integration__overlay hidden">
</div>
<div class="integration__video-container hidden">
    <iframe id="clientScreen__iframe" src="http://localhost:8080/" allowfullscreen height="315" width="560" allowfullscreen="" frameborder="0">
      <p>Your browser does not support iframes.</p>
    </iframe>
</div>

  </body>
</html>